.asm-block {
    display: inline-block;
    height: 1500px;
    width: 1500px;
}

.table {
    position: absolute;
}

body {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

h1,h2,h3,h4,p {
    margin: 0px;
    padding: 0px;
}

